*{

    padding: 0;
    margin: 0;
}

#ersteBox{
    background-color: white;
    width: 400px;
    padding: 5px 40px;
    border:  solid 5px black;
    border-radius: 20px;
    margin: 10px;
}

 #zweiteBox{
     background-color: white;
     width: 400px;
     padding: 5px 40px;
     border-right:  double 5px red;
     border-left: double 5px red;
     margin: 10px;
 }

 #dritteBox{
     background-color: yellow;
     padding: 10px;
     border: dotted;
     margin: 10px;
 }

 #bla{
     font-size: 60px
     width: 100px
 }

 div{
     border: solid 1px black;
 }
 .innen{
     background-color: green;
     border: solid 1px red;
     border-radius: 20px;
     margin:;
 }

